<!DOCTYPE html>
<html lang="en">
<head>
<title>Set up your account</title>

    <link rel="stylesheet" href="css/gordon/bootstrap.css" type="text/css">
    <link rel="stylesheet" href="css/gordon/bootstrap-responsive.css" type="text/css">
    <link rel="stylesheet" href="css/gordon/david.css" type="text/css">

<p> </p>

    <div class="span6">
    <a href = "pin_page.html.erb"> <img  src= "pics/unnamed.png" align="middle">

