<!DOCTYPE html>
<html lang="en">
<head>
<title>App Screen</title>

    <link rel="stylesheet" href="css/gordon/bootstrap.css" type="text/css">
    <link rel="stylesheet" href="css/gordon/bootstrap-responsive.css" type="text/css">
    <link rel="stylesheet" href="css/gordon/david.css" type="text/css">
<p> </p>

    <div class="span6">
<a href= "credit_info2.html.erb" > Monkey <img class="profile-photo" class = "center" src = >

