    <link rel="stylesheet" href="css/gordon/bootstrap.css" type="text/css">
    <link rel="stylesheet" href="css/gordon/bootstrap-responsive.css" type="text/css">
    <link rel="stylesheet" href="css/gordon/david.css" type="text/css">
<p> </p>

    <div class="profile-photo">
<a href = "tip_code4.html.erb"> <img src= "pics/password.png" >